
*{
  margin: 0;
  padding: 0;
}
html, body {
    position: relative;
    height: 100%;
  }
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  .checkbtn{
    font-size: 20px;
    float:right;
    /* line-height: 80px; */
    margin-top: 10px;
    margin-right: 40px;
    display: none;
  }
   .logo{
    margin-left: 100px;    
   }
  .logo img{
    margin: 5px;
    height:50px;
    width: 50px;
    border-radius: 50%;
  }
   .listDiv{
    margin-top: 10px;
  }
  #check{
    display: block;
    
  }
  .nav{
    width: 100%;  
    z-index: 999;
    display: flex;
    justify-content:space-between;
    padding:0px 30px 0px 30px;
    align-items: center;
    background-color:#528B8B	;
    overflow: hidden;
    box-sizing: border-box;
  }
  .nav ul{
    margin-right: 100px;
  }
  .nav ul li{
    display: inline-block;
    list-style-type: none;
    padding:0px 15px;
  }
  
  .nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 15px;
  }
  .heading{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 25px;
  }
  .heading >h1{
   font-weight: 600; 
   }
  .sub-heading{
    display: flex;
    margin-left: 100px;
    margin-top: 30px;
  }
  .subheading-text{
    display: inline-block;
    width: 60%;
  }
  .subheading-text >h1{
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: bold; 
  }
  .subheading-text >h3{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  .subheading-text >p{
    font-size: 17px;
    line-height: 1.5;
    font-family: sans-serif;
      color: black;
  }
  .fault-mapping{
    margin-left: 100px;
    width: 30%;
    margin: 20px 0px 20px 100px;
  }
  .fault-img{
    width: 375px;
  }
  .fault-img >img{
    width: 100%;
  }
  .map-section{
    display: flex;
    padding-left: 100px;

  }
  .map-content{
    width: 40%;
    padding: 20px;
  }
  .map-content >form{
    display: flex;
    justify-content: space-between;
  }
  .map-content >form >label{
    font-size: 20px;
  }
  .showAllfaults{
    padding: 8px 20px;
    font-family: sans-serif;
    margin: 10px 0px 30px 0px;
    font-size: 15px;
    background-color: #528B8B;
    color: white;
    background-color: rgba(82,139,139,0.8);
    border: 1px solid #528B8B;
    border-radius: 3px;
  }
  .showAllfaults:hover{
    cursor: pointer;
    background-color:#528B8B;
  }
  .fault_name{
    margin-left: 100px;
    height: 28px;
  }
  #country_name{
    height: 23px;
    font-size: 14px;
  }
  #province_name{
    height: 23px;
    font-size: 14px; 
  }
  #state_name{
    height: 23px;
    font-size: 14px;  
  }
  .geo_char{
    margin-top: 20px;
  }
  .map-content >h3{
    font-size: 20px;
  }
  .geo-char-country,.geo-char-province{
    display: flex;
    margin: 10px 0px;
    justify-content: space-between;
  }
  #search{
    padding: 6px 34px;
    background-color: darkorange;
    border: 1px solid darkorange;
    color: white;
    margin: 20px 0px;
    font-size: 16px;
    border-radius: 3px;
  }
  #search:hover{
    cursor: pointer;
    background-color: orangered;
  }
  .map{
    width: 60%;
    height: 400px;
  }
  .searchstate_level{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .searchstate_level >label{
    font-size: 19px;
    font-weight: 600;
  }
  .popover-body {
    min-width: 160px;
    height: 80px;
    overflow-y: scroll;
    font-size: 12px;
  }
  .popover-header {
    padding: .2rem .55rem;
    font-size: 13px;
  }
  .popover-body {
    padding: .15rem .75rem;
  }
  #latlong{
    width: calc(100% - 150px);
    text-align: center;
    transform: translate(150px,-60px);
    font-size: 12px;
  }
  #lat,#long{
    display: inline-block;
    margin-left: 10px;
  }
  #fault_id,#falut_type,#fault_name{
      background-color: cadetblue;
      margin-bottom: 0px;
      color: white;
      padding: 10px 0px 2px 10px;

 }
.ol-attribution.ol-uncollapsible{
    display: none;
}
.fault_num{
  display: inline-block;
  margin-right: 7px;
}
.found_faults{
  display: none;
}
.importNofoundClass{
  display: block;
  text-align: center;
  background-color: #FFC0CB;
}
.importFounfClass{
  display: block;
  text-align: center;
  background-color: greenyellow;
}
  @media screen and (max-width: 1024px){
   .fault-mapping {
    margin-left: 100px;
    width: 30%;
    margin: 159px 0px 20px 18px;
   } 
  .subheading-text{
    display: inline-block;
    width: 55%;
  }
  }
  @media screen and (max-width: 768px){
  .nav{
  display:block;
  }
.nav ul{
  width:100%;
  margin-left: -20px;
 
  padding-left: 0px;
} 
.unlist{
  display: none;
}
.nav ul li{
  display: block;
  padding:10px 0px 10px 20px;
  border-bottom: 1px solid gray;
}
.checkbtn{
  display: block;
}
.sub-heading {
  display: flex;
  flex-direction: column;
  margin-left: 42px;
  margin-top: 30px;
}
.subheading-text {
  display: inline-block;
  width: 60%;
}
.subheading-text {
  display: inline-block;
  width: 100%;
  padding: 0px 20px 0px 0px;
}
.image-info{
  width: max-content;
}
.map-section {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.map-content {
    width: 90%;
    padding: 20px;
    margin: 10px 20px 10px 25px;
}
.map {
    width: 80%;
    height: 400px;
    margin-left: 45px;
}
#latlong {
  text-align: center;
  font-size: 12px;
  transform: translate(69px, -83px);
}
.fault-mapping {
    margin-left: 100px;
    width: 30%;
    margin: 7px 0px 20px 18px;
}
.geo-char-country, .geo-char-province {
    display: flex;
    margin: 23px 0px;
    justify-content: space-between;
}
}
  @media screen and (max-width: 540px){
      .map-content {
    width: 90%;
    padding: 20px;
    margin: 10px 20px 20px 15px;
}

.fault-mapping {
    margin-left: 100px;
    width: 90%;
    margin: 7px 0px 20px 0px;
}
.fault-img {
    width: 340px;
}
.map {
    width: 80%;
    height: 400px;
    margin-left: 45px;
}
.image-info {
    width: auto;
}
.logo {
    margin-left: 25px;
}
}
  @media screen and (max-width: 411px){
.heading >h1 {
    font-size: 30px;
    font-weight: 600;
}
.heading >h1 {
    font-size: 25px;
 }
      
#latlong {
    display: inline-block;
}
.subheading-text {
    display: inline-block;
    width: 100%;
    padding: 0px 30px 0px 0px;
}
.fault-img {
    width: 342px;
}
.fault-mapping {
    margin-left: 100px;
    width: 90%;
    margin: 7px 0px 20px 0px;
}
.geo-char-country, .geo-char-province {
    display: flex;
    margin: 23px 0px;
    justify-content: space-between;
}
.subheading-text >h1 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}
.sub-heading {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 30px;
}
 .map-content {
    width: 97%;
    margin: 10px 20px 10px 5px;
}
 .map {
    width: 96%;
    height: 400px;
    margin-left: 5px;
}
#latlong {
    text-align: center;
    font-size: 12px;
    transform: translate(-11px, 25px);
}
.map-content >form >label {
    font-size: 16px;
}
}
@media screen and (max-width: 320px){
 .fault-img {
    width: 240px;
}
    .fault_name {
    margin-left: 10px;
    height: 28px;
    width: 130px;
}
    .map-content {
    width: 100%;
    padding: 20px;
    margin: 10px 20px 10px 0px;
}
    #latlong {
    display: inline-block;
}
    .subheading-text {
    padding: 0px 23px 0px 0px;
}
}