html, body {
    position: relative;
    height: 100%;
  }
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  .checkbtn{
    font-size: 20px;
    float:right;
    /* line-height: 80px; */
    margin-top: 10px;
    margin-right: 40px;
    display: none;
  }
  .logo img{
    margin-top: 5px;
    height:50px;
    width: 50px;
    border-radius: 50%;
  }
  #check{
    display: block;
    
  }
  .nav{
    width: 100%;  
    z-index: 999;
    display: flex;
    justify-content:space-between;
    padding:0px 30px 0px 30px;
    align-items: center;
    background-color:#528B8B	;
    overflow: hidden;
    box-sizing: border-box;
  }
  .nav ul{
    margin-right: 100px;
  }
  .nav ul li{
    display: inline-block;
    list-style-type: none;
    padding:0px 15px;
  }
  
  .nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 15px;
  }
  .heading{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
  }
  .sub-heading{
    display: flex;
    margin-left: 100px;
  }
  .subheading-text{
    display: inline-block;
    width: 60%;
  }
  .subheading-text >h3{
    font-family: sans-serif;
    font-size: 20px;
  }
  .subheading-text >p{
    font-size: 17px;
    line-height: 1.5;
    font-family: sans-serif;
  }
  .fault-mapping{
    margin-left: 100px;
    width: 30%;
    margin: 100px 0px 20px 100px;
  }
  .fault-img{
    width: 375px;
  }
  .fault-img >img{
    width: 100%;
  }
  .map-section{
    display: flex;
    padding-left: 100px;

  }
  .map-content{
    width: 40%;
    padding: 20px;
  }
  .map-content >form{
    display: flex;
    justify-content: space-between;
  }
  .map-content >form >label{
    font-size: 20px;
  }
  .fault_name{
    margin-left: 100px;
  }
  .map-content >h3{
    font-size: 23px;
  }
  .geo-char-country,.geo-char-province{
    display: flex;
    margin: 10px 0px;
    justify-content: space-between;
  }
  #search{
    padding: 10px 34px;
    background-color: darkorange;
    border: 1px solid darkorange;
    color: white;
  }
  #search:hover{
    cursor: pointer;
    background-color: orangered;
  }
  .map{
    width: 60%;
    height: 400px;
  }
  .searchstate_level{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .searchstate_level >label{
    font-size: 19px;
    font-weight: 600;
  }
  @media screen and (max-width: 768px){
.nav{
  display:block;
}
.nav ul{
  width:100%;
  margin-left: -20px;
 
  padding-left: 0px;
} 
.unlist{
  display: none;
}
.nav ul li{
  display: block;
  padding:10px 0px 10px 20px;
  border-bottom: 1px solid gray;
}
.checkbtn{
  display: block;
}

}